# phase 2 requiremenst
agent client:

1. change to grpc messages communication(report interface) 150

agent server
1. grpc server 100
2. data collect interface 200
4. send data to kafka 100
5. token check interface(with fusion) 150
